.namespaceHub {
  margin-top: 2rem;
}

.statsBar {
  background-color: var(--ifm-color-emphasis-100);
  padding: 2rem;
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-global-shadow-lw);
}